<h1>CODE PLATOON</h1>

<p>Find me in app/views/pages/index.html.erb</p>
<p>This will be the landing page.</p>
<div class="row">
  <div class="column-responsive col-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Student & Admissions Section</h3>
        <p class="card-text">Prospective, Current, and Former</p>
        <a href="#" class="btn btn-primary">Go to this section>>></a>
      </div>
    </div>
  </div>
  <div class="column-responsive col-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Corporate Sponsorship & Media Section</h3>
        <p class="card-text">Sponsorship opportunities, financial information, Board & Contact information</p>
        <a href="#" class="btn btn-primary">Go to this section>>></a>
      </div>
    </div>
  </div>
</div>
