
  <div id="header">
  <div class="button">
    <button type="button" onclick="alert('Hello world!')">ABOUT</button>
    <button type="button" onclick="alert('Hello world!')">DONATE</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Contact Information & Form</h4>
          </div>
          <div class="modal-body">

          <a href="mailto:rod@codeplatoon.org" class="btn btn-info btn-lg">
          Send Email
        </a></h4>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    </div>
    <h1 class="display-1"><br>CODE</h1>
    <h1 class="display-1">PLATOON</h1><br>
      <p class="lead"><br>The coding bootcamp for people that have been to bootcamp.</p></h1>

    <div class="dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    REQUEST INFORMATION</button>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu2">
    <div class="dropdown-item">
      Name: <input type="text" name="name" placeholder="ex. Scott Plunkett...">
    </div>
    <div class="dropdown-item">
      Email: <input type="text" name="email" placeholder="ex. Scott Plunkett...">
    </div>  <div class="dropdown-divider"></div>
    <div class="dropdown-item">
      <input class="btn-secondary" type="submit" name="submit">
    </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#myModal">
      CONTACT US
    </button>

    <!-- Modal -->

  </div>
  <div id="charity-annotation">
  <small>Code Platoon is a 501(c)(3) registered non-profit, contributions help turn veterans into software developers.</small>
  </div>
  </div>

  