<h3>Afforadable. Employable. Familiar</h3>
<br>
<h2>If you have served or are serving in the US Armed Forces, join us for a fully immersive 20-week program for as little as $2,000. <br>
We will teach you how to code and help you start your career as a full-stack software developer.</h2>
