<h2>Afforadable. Employable. Familiar</h2>
<br><br>

<h3>About Code Platoon</h3>
<h4>Code Platoon is a 501(c)3 non-profit that hwlps veterans transition into the civilian workforce by providing technical training and career placement.</h4>
<br><br>

<h3>Eligibility</h3>
<h4>If you have served or are serving in the US Armed Forces, join us for a fully immersive 20-week program for as little as $2,000.</h4>
<br><br>

<h3>Program Structure</h3>
<h4>Over the course of 14 weeks long, Code Platoon instructors will teach you how to code and help you start your career as a full-stack software developer.</h4>
<br><br>

<h3>In the News</h3>
<h4>Chicago Tribune<br>
TC<br>
We are the Mighty<br>
Chicago B<br>
<br><br>

<h3>Our Sponsors</h3>
<h4>Enova<br>
nogginlabs<br>
DRW<br>
Power Reviews<br>
Raise<br>
UL</h4>
