<h1>Interested in helping veterans succeed?</h1>
<h3>Interested in helping veterans succeed?</h3>
<h3>You've come to the right place!</h3>

<h2>Code Platoon is a 501(c)3 non-profit that hwlps veterans transition into the civilian workforce by providing technical training and career placement. We rely solely on donors and volunteers to makew this program possible.</h2>
<br>
<h3>Our Sponsors<br>
Enova<br>
nogginlabs<br>
DRW<br>
Power Reviews<br>
Raise<br>
UL</h3>

<!-- Make a Donation 
Volunteer
 -->